<h1>Listing physicians</h1>

<table class="person center">
  <tr>
    <th>Trial</th>
    <th>Extdocid</th>
    <th>Counter</th>
  </tr>

<% @physicians.each do |physician| %>
  <tr>
    <td><%= link_to physician.trial.extId, physician.trial %></td>
    <td><%= physician.extDocId %></td>
    <td><%= physician.counter %></td>
  </tr>
<% end %>
</table>