.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
config/environments/*.rb
config/initializers/s3u_lmu.rb
app/assets/images/header.jpg
public/assets/
config/ldap.yml
config/database.yml
app/assets/stylesheets/lmu_corporate_design.css.scss
