<tr>
  <td><%= medical_case.extCaseId %></td>
  <td><%= medical_case.funcOu %></td>
  <td><%= medical_case.nurseOu %></td>
  <td><%= link_to image_tag("magnifier.png", { :title => t(:show) }), medical_case %></td>
</tr>