<h1><%=t "consent_set" %></h1>

<ol>
  <li>Patient mündlich aufklären.</li>
  <li><%= link_to I18n.t("download_ic"), "#{S3uLmuAerzteUi::Application.config.s3u_lmu_studienmonitor_url}/system/informed_consents/#{@patient.trial.id}/original/#{@patient.trial.informed_consent_file_name}" %></li>
  <li>Entscheidung des Patienten im Formular dokumentieren.</li>
  <li>Formular archivieren.</li>
<%= render 'form' %>
</ol>
<%= link_to I18n.t("cancel"), @patient %>