<VirtualHost *:80>
	ServerAdmin webmaster@localhost

	#
	# change DocumentRoot to fit your environment
	#
	DocumentRoot /home/<my_user>/github/s3u/dev-dashboard
	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	#
	# change Directory to fit your environment
	#
	<Directory "/home/<my_user>/github/s3u/dev-dashboard">
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>
	#
	# change ScriptAlias to fit your environment
	#
	ScriptAlias /hl7if/ /home/<my_user>/github/s3u/hl7interface/perl_service/
	#
	# change Directory to fit your environment
	#
	<Directory "/home/<my_user>/github/s3u/hl7interface/perl_service/">
		AllowOverride None
		Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
		Order allow,deny
		Allow from all
	</Directory>
	#
	# change ScriptAlias to fit your environment
	#
	ScriptAlias /rec/ /home/<my_user>/github/s3u/recruiter/
	#
	# change Directory to fit your environment
	#
	<Directory "/home/<my_user>/github/s3u/recruiter/">
		AllowOverride None
		Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
		Order allow,deny
		Allow from all
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/access.log combined

    Alias /doc/ "/usr/share/doc/"
    <Directory "/usr/share/doc/">
        Options Indexes MultiViews FollowSymLinks
        AllowOverride None
        Order deny,allow
        Deny from all
        Allow from 127.0.0.0/255.0.0.0 ::1/128
    </Directory>

</VirtualHost>
