.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
app/models/group.rb
config/initializers/s3u_lmu.rb
config/database.yml
config/ldap.yml
app/assets/stylesheets/lmu_corporate_design.css.scss
perl_service/*.conf
perl_service/*.log
perl_service/*.sql
perl_service/s3u_lmu_hl7interface.pl
app/assets/images/header.jpg
public/assets/
